* {
  box-sizing: border-box;
}

html, body {
  background-color: #b3e5fc;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0 100px;
}

@import "word-cloud-app";
@import "word-cloud";
@import "topic-information";
