.topic-information {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  z-index: 10;

  padding: 20px;
  width: 350px;

  background-color: white;
  color: #444;
  opacity: 0;
  box-shadow: -5px 0px 5px 0 rgba(0, 0, 0, 0.16);

  transition: opacity 300ms ease-out, transform 300ms ease-out, box-shadow 300ms ease-out;

  &--visible {
    transform: translateX(0);
    opacity: 1;
  }

  &__title {
    border-bottom: solid 5px #444;
    padding-bottom: 10px;
  }

  &__mentions-statistic {
    padding-left: 20px;
    line-height: 1.5;
  }

  &__sentiment {

    &--positive {
      color: #cddc39;
    }

    &--neutral {
      color: #bdbdbd;
    }

    &--negative {
      color: #ff867c;
    }
  }
}
