* {
  box-sizing: border-box; }

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0; }

body {
  min-width: 1000px; }

.word-cloud-app__title {
  text-align: center;
  color: #444;
  font-size: 80px; }

.word-cloud-app__content {
  width: 1000px;
  margin: auto; }

.word-cloud {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1; }
  .word-cloud__cloud {
    height: 340px;
    margin: 130px 40px; }
  .word-cloud span {
    cursor: pointer; }

.topic-information {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 10;
  padding: 20px;
  width: 350px;
  background-color: white;
  color: #444;
  opacity: 0;
  box-shadow: -5px 0px 5px 0 rgba(0, 0, 0, 0.16);
  transition: opacity 300ms ease-out, box-shadow 300ms ease-out, -webkit-transform 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out, box-shadow 300ms ease-out;
  transition: opacity 300ms ease-out, transform 300ms ease-out, box-shadow 300ms ease-out, -webkit-transform 300ms ease-out; }
  .topic-information--visible {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  .topic-information__title {
    border-bottom: solid 5px #444;
    padding-bottom: 10px; }
  .topic-information__mentions-statistic {
    padding-left: 20px;
    line-height: 1.5; }
  .topic-information__sentiment--positive {
    color: #cddc39; }
  .topic-information__sentiment--neutral {
    color: #bdbdbd; }
  .topic-information__sentiment--negative {
    color: #ff867c; }
