<div>
  <h1 class="title">Word Cloud</h1>

  <div class="content">
    <WordCloud
      @topics={{topics}}
      @ontopicselect={{action selectTopic}}
    ></WordCloud>
    <TopicInformation
      @topic={{selectedTopic}}
      @topicInformationVisible={{topicInformationVisible}}
    ></TopicInformation>
  </div>
</div>